*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; /*rem算出をしやすくするために*/
}

.rbtn,
a.rbtn,
button.rbtn,
.dbtn,
a.dbtn button.dbtn,
.tbtn,
a.tbtn,
button.tbtn {
  font-size: 1.6rem;
  font-weight: 700;

  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.05em;
  color: #212529;
  border-radius: 0.25rem;
}

a.rbtn-border,
a.dbtn-border,
a.tbtn-border {
  border: 2px solid #000;
  border-radius: 0;
  background: #fff;
}

/*----------------------------------------------------------------*/

.dekobtn01_mo {
  width: 50px;
  height: 88px;
  background: #000000;
  position: relative;
}

.dekobtn01_mo::before,
.dekobtn01_mo::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
}

.dekobtn01_mo::before {
  transform: rotate(60deg);
}

.dekobtn01_mo::after {
  transform: rotate(-60deg);
}

/*----------------------------------------------------------------*/

.dekobtn02_mo {
  width: 28px;
  height: 50px;
  background: #000000;
  position: relative;
}

.dekobtn02_mo::before,
.dekobtn02_mo::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
}

.dekobtn02_mo::before {
  transform: rotate(60deg);
}

.dekobtn02_mo::after {
  transform: rotate(-60deg);
}

/*----------------------------------------------------------------*/

.dekobtn03_mo {
  width: 28px;
  height: 50px;
  background: #000000;
  position: relative;
}

.dekobtn03_mo::before,
.dekobtn03_mo::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #010101;
}

.dekobtn03_mo::before {
  transform: rotate(60deg);
}

.dekobtn03_mo::after {
  transform: rotate(-60deg);
}

/*----------------------------------------------------------------*/
.dekobtn04_mo {
  width: 28px;
  height: 50px;
  background: #000000;
  position: relative;
}

.dekobtn04_mo::before,
.dekobtn04_mo::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
}

.dekobtn04_mo::before {
  transform: rotate(60deg);
}

.dekobtn04_mo::after {
  transform: rotate(-60deg);
}
/*----------------------------------------------------------------*/
.dekobtn05_mo {
  width: 28px;
  height: 50px;
  background: #000000;
  position: relative;
}

.dekobtn05_mo::before,
.dekobtn05_mo::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
}

.dekobtn05_mo::before {
  transform: rotate(60deg);
}

.dekobtn05_mo::after {
  transform: rotate(-60deg);
}
/*----------------------------------------------------------------*/

.rbtn,
a.rbtn,
button.rbtn {
  position: absolute;
  top: 520px;
  left: 30px;
}
.dbtn,
a.dbtn,
button.dbtn {
  position: absolute;
  top: 520px;
  left: 140px;
}
.tbtn,
a.tbtn,
button.tbtn {
  position: absolute;
  top: 520px;
  left: 243px;
}

a.rbtn-border:hover {
  color: #fff;
  background: #ff0000;
}

a.dbtn-border:hover {
  color: #fff;
  background: #fff100;
}

a.tbtn-border:hover {
  color: #fff;
  background: #00c3ff;
}

/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/

.dekobtn01_pc {
  width: 25px;
  height: 44px;
  background: #aaa;
  position: relative;
  position: absolute;
  top: 10px;
  left: 20px;
}

.dekobtn01_pc::before,
.dekobtn01_pc::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #aaa;
}

.dekobtn01_pc::before {
  transform: rotate(60deg);
}

.dekobtn01_pc::after {
  transform: rotate(-60deg);
}

/*----------------------------------------------------------------*/

.dekobtn02_pc {
  width: 25px;
  height: 44px;
  background: #aaa;
  position: relative;
  position: absolute;
  top: 60px;
  left: 20px;
}

.dekobtn02_pc::before,
.dekobtn02_pc::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #aaa;
}

.dekobtn02_pc::before {
  transform: rotate(60deg);
}

.dekobtn02_pc::after {
  transform: rotate(-60deg);
}

/*----------------------------------------------------------------*/

.dekobtn03_pc {
  width: 25px;
  height: 44px;
  background: #aaa;
  position: relative;
  position: absolute;
  top: 110px;
  left: 20px;
}

.dekobtn03_pc::before,
.dekobtn03_pc::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #aaa;
}

.dekobtn03_pc::before {
  transform: rotate(60deg);
}

.dekobtn03_pc::after {
  transform: rotate(-60deg);
}

/*----------------------------------------------------------------*/
.dekobtn04_pc {
  width: 25px;
  height: 44px;
  background: #aaa;
  position: relative;
  position: absolute;
  top: 160px;
  left: 20px;
}

.dekobtn04_pc::before,
.dekobtn04_pc::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #aaa;
}

.dekobtn04_pc::before {
  transform: rotate(60deg);
}

.dekobtn04_pc::after {
  transform: rotate(-60deg);
}
/*----------------------------------------------------------------*/
.dekobtn05_pc {
  width: 25px;
  height: 44px;
  background: #aaa;
  position: relative;
  position: absolute;
  top: 210px;
  left: 20px;
}

.dekobtn05_pc::before,
.dekobtn05_pc::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #aaa;
}

.dekobtn05_pc::before {
  transform: rotate(60deg);
}

.dekobtn05_pc::after {
  transform: rotate(-60deg);
}
/*----------------------------------------------------------------*/

.resetbtn_pc {
  display: inline-block;
  cursor: pointer; /* カーソルを指に */
  margin: 1em 0; /* まわりの余白 */
  padding: 0.7em 1em; /* 文字まわりの余白 */
  line-height: 1.4; /* 行間 */
  background: #ff3e3e; /* 背景色 */
  color: #fff; /* 文字色 */
  font-size: 0.45em; /* フォントサイズ */
  border-radius: 2.5em; /* 角の丸み */
  transition: 0.2s; /* ホバーをなめらかに */
}

.resetbtn_pc:hover {
  box-shadow: 0 8px 10px -2px rgba(0, 0, 0, 0.2); /* 影を表示 */
}
