@media screen and (max-width: 768px) {
  .PC {
    display: none;
  }

  .base_mo {
    text-align: center;
  }

  .base_mo > img {
    position: relative;
    top: 20px;
    width: 350px;
    height: auto;
  }

  .dekobtn01_mo {
    z-index: 110;
    position: absolute;
    top: 309px;
    left: 0;
    right: 7px;
    margin: auto;
  }

  .dekobtn02_mo {
    z-index: 111;
    position: absolute;
    top: 301px;
    left: 0;
    right: 112px;
    margin: auto;
  }

  .dekobtn03_mo {
    z-index: 110;
    position: absolute;
    top: 344px;
    left: 0;
    right: 112px;
    margin: auto;
  }

  .dekobtn04_mo {
    z-index: 110;
    position: absolute;
    top: 322.5px;
    left: 0;
    right: 186px;
    margin: auto;
  }

  .dekobtn05_mo {
    z-index: 110;
    position: absolute;
    top: 365.5px;
    left: 0;
    right: 186px;
    margin: auto;
  }
}
