* {
  margin: 0;
  padding: 0;
}

input {
  display: none;
}

.preview01_mo img {
  width: 105px;
  position: absolute;
  top: 321px;
  left: 117.5px;
  z-index: 100;
}
.preview02_mo img {
  width: 63px;
  position: absolute;
  top: 309.5px;
  left: 65.5px;
  z-index: 100;
}
.preview03_mo img {
  width: 63px;
  position: absolute;
  top: 368.3px;
  left: 65.5px;
  z-index: 100;
}
.preview04_mo img {
  width: 63px;
  position: absolute;
  top: 339px;
  left: 14.5px;
  z-index: 100;
}
.preview05_mo img {
  width: 63px;
  position: absolute;
  top: 397.9px;
  left: 14.5px;
  z-index: 100;
}

.back_h {
}

.back_m {
  background-color: #ffff00;
  height: 800px;
}

.back_f {
  z-index: 100;
  background-color: #ffff00;
  height: 150px;
}
