* {
  margin: 0;
  padding: 0;
}

input {
  display: none;
}

.preview01_mo img {
  width: 75px;
  position: absolute;
  top: 298.8px;
  left: 0;
  right: 6.5px;
  margin: auto;
  z-index: 120;
}
.preview02_mo img {
  width: 45px;
  position: absolute;
  top: 291px;
  left: 0;
  right: 107.5px;
  margin: auto;
  z-index: 120;
}
.preview03_mo img {
  width: 45px;
  position: absolute;
  top: 331.5px;
  left: 0;
  right: 107.5px;
  margin: auto;
  z-index: 120;
}
.preview04_mo img {
  width: 45px;
  position: absolute;
  top: 311.5px;
  left: 0;
  right: 177.5px;
  margin: auto;
  z-index: 120;
}
.preview05_mo img {
  width: 45px;
  position: absolute;
  top: 352px;
  left: 0;
  right: 177.5px;
  margin: auto;
  z-index: 120;
}

.back_m {
  background-color: #000000;
}

.back_f {
  z-index: 100;
  background-color: #ffff00;
}
