* {
  margin: 0;
  padding: 0;
}
#preview01 img {
  width: 200px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
#preview02 img {
  width: 200px;
  margin: 10px;
  position: absolute;
  top: 0px;
  left: 0;
}
#preview03 img {
  width: 200px;
  margin: 10px;
  position: absolute;
  top: 200px;
  left: 0;
}
